<div class="app-container">
    <div class="row">
      <div class="col-md-9 my-auto">
        <h2>Phase Distribution</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="card card-custom">
          <app-stock-graph [data]="phase"></app-stock-graph>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="card card-custom">
          <app-phase-appliance></app-phase-appliance>
        </div>
      </div>
    </div>
  </div>
