.unit {
    color: var(--color9);
    font-size: 1rem !important;
    font: var(--fontRegular);
    font-weight: 800;
}

.val {
    font-size: 2rem!important;
    font-weight: 900 !important;
}

.insights-image {
    width: 22%;
}