.card-custom{
    border-radius: 1rem !important;
}

.unit {
    color: var(--color9);
    font-size: 1.2vw !important;
    font: var(--fontRegular);
}

.val {
    font-size: 2.5vw!important;
    font-weight: 900 !important;
}

.insights-image {
    width: 22%;
}