.unit {
    color: black;
    font-size: 1rem !important;
    font: var(--fontLight);
}

.val {
    font-size: 1.8rem!important;
    font-weight: bold !important;
    font: var(--fontBold);
}

.insights-image {
    width: 22%;
}