<div class="row">
  <div class="col-md-3">
    <div>
      <h1>Sites</h1>
      <div>Dropdown</div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="flex-container">
      <div
        class="box text-center"
        *ngFor="let item of siteComparisonData; let i = index"
      >
        <img class="site-img" src="/assets/icons/icon-site.svg" />
        <h4>
          <strong>Site {{ i + 1 }}</strong>
        </h4>
        <h4 class="mb-4">{{ item.name }}</h4>
      </div>
    </div>
  </div>
</div>

<div class="row card card-custom">
  <h2>Basic Insights</h2>
  <table>
    <tr *ngFor="let label of basicInsightLabels">
      <th class="heading">{{ label.name }}</th>
      <td *ngFor="let item of siteComparisonData">
        <div class="value" *ngIf="label.tertiaryKey">
          {{ item[label.key][label.secondaryKey][label.tertiaryKey] }}
        </div>
        <div class="value" *ngIf="!label.tertiaryKey">
          {{ item[label.key][label.secondaryKey] }}
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="row card card-custom">
  <div class="col-md-3 my-auto">
    <h2>Budget and Target Consumption</h2>
  </div>
  <div class="col-md-9">
    <div class="flex-container">
      <div class="box-activity" *ngFor="let item of siteComparisonData">
        <app-activity-gauge
          [data]="item.stats.consumption_overview"
          [totalSize]="totalSize"
        ></app-activity-gauge>
      </div>
    </div>
  </div>
</div>

<div class="row card card-custom">
  <h2>Information</h2>
  <table>
    <tr *ngFor="let label of informationLabels">
      <th class="heading">{{ label.name }}</th>
      <td *ngFor="let item of siteComparisonData">
        <div class="value" *ngIf="label.secondaryKey">
          {{ item[label.key][label.secondaryKey] }}
        </div>
        <div class="value" *ngIf="!label.secondaryKey">
          {{ item[label.key] }}
        </div>
      </td>
    </tr>
  </table>
</div>
