.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow:row;
    width:100%;
    /*flex-wrap:wrap;*/
}
.box {
    flex:1;
    -webkit-flex:1;
    width:20%;
}

.box-activity {
    flex:1;
    -webkit-flex:1;
    width: 20%;
    padding: 0 2vw;
}
.row h2{
    text-align: left;
    margin-bottom: 2vw;
}

.site-img{
    height: 10vw;
    margin-bottom: 1vw;
}

.card-custom {
    border-radius: 1rem !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    margin-bottom: 3rem;
    flex-direction: row;
  }

  .card-headers {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left !important;
    border: none;
    margin-left:22%
  }

  .card-heading {
    font: var(--fontBold);
    font-size: 1.5vw;
    font-weight: 800;
  }

  .widget-subtitle {
    font-size: 1vw;
    color: gray;
    margin-bottom: 2rem;
  }

  .heading{
      font-size: 1.4vw;
      color: var(--color10);
      font-weight: 800;
      margin-bottom: 1vw;
  }

  .value{
    font-size: 1.4vw;
    color: var(--color10);
    margin-bottom: 1vw;
    text-align: center;
  }


table {
  border-spacing: 1vw;
  th, td {
    padding: 1vw;
  }
}

.col-width {
  min-width: 15vw !important;
  width: 17vw;
}

.width-treemap {
  width:90vw;
}

.btn-toggle {
  color:var(--color3);
  border-color: var(--color3);
}