.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow:row;
    width:100%;
    /*flex-wrap:wrap;*/
}
.box {
    border:1px solid red;
    flex:1;
    -webkit-flex:1;
    max-width:20vw;
    height: 25vh;
}

.box-activity {
    border:1px solid red;
    flex:1;
    -webkit-flex:1;
    width: 20vw;
}