.bcolor {
background-image: linear-gradient(to right, var(--color8),var(--color5));
border-radius: 1rem !important;
padding: 1.5rem;
margin-bottom: 1.5rem;
color: var(--color12);
}

.card-custom {
    border-radius: 1rem !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin-bottom: 1.5rem;
  }

  .card-heading {
    font: var(--fontRegular);
    font-size: 1.5vw;
    font-weight: 600;
  }
  .description{
    font: var(--fontRegular);
    font-size: 1.5rem;
    font-weight: 500;
  }