<div class=".-container row vertical-align">
    <div class="col-md-6">

        <div class="temperature">
            <label>{{data?.temp}}<span class="degree">&deg;C</span></label>
        </div>
        <div class="day">
            <label>{{data?.ob_time | date: 'EEEE'}}</label>
        </div>
        <div class="date">
            <label>{{data?.ob_time | dateSuffixFull}}</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="-icon">
            <img class="card-img-left google--image" [src]="imgPath"/>
        </div>
        <div class="-stats">
            <label>Precipitation: {{data?.precip}}mm/hr</label>
            <label>Humidity: {{data?.rh}}%</label>
            <label>Wind: {{data?.wind_spd}}m/s</label>
        </div>
    </div>
</div>
    