<div class="login-container">
    <img class="oak-logo" src="/assets/OakInsightsLogo.svg"/>

    <form [formGroup]="form" class="login-form" (ngSubmit)="resetPassword()">
        <div>
            <input type="password" name="password" autocomplete="new-password" formControlName="newpassword" placeholder="Enter Your New Password" required>
            <mat-error *ngIf="form.get('newpassword')?.hasError('required') && form.get('newpassword')?.touched">ⓘ Please set a password</mat-error>
            <mat-error *ngIf="form.get('newpassword')?.hasError('minlength') && !form.get('newpassword')?.hasError('required')">ⓘ Password is too short</mat-error>
            <mat-error *ngIf="form.get('newpassword')?.hasError('maxlength') && !form.get('newpassword')?.hasError('minlength')">ⓘ Password is too long</mat-error>
        </div>
        <div>
            <input type="password" name="password" autocomplete="new-password" formControlName="confirmpassword" placeholder="Confirm Your Password" required>
            <mat-error *ngIf="form.get('confirmpassword')?.hasError('required') && form.get('confirmpassword')?.touched">ⓘ Please confirm your password</mat-error>
            <mat-error *ngIf="form.get('confirmpassword')?.hasError('notMatched') && !form.get('confirmpassword')?.hasError('required')">Passwords must be match</mat-error> 
        </div>
        <button mat-raised-button class="btn-login" type="submit" [disabled]="loading">Submit</button>
    </form>
    
    <a routerLink="/login" class="link-secondary">Login</a>
</div>
