<div class="login-container">
    <img class="oak-logo" src="/assets/OakInsightsLogo.svg"/>

    <form [formGroup]="form" class="login-form" (ngSubmit)="forgotPassword()">
        <div>
            <input type="text" name="email" autocomplete="email" formControlName="email" placeholder="Enter Your Email" required>
            <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">ⓘ Please enter your email</mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">ⓘ Email is not valid</mat-error>
        </div>
        <button mat-raised-button class="btn-login" type="submit" [disabled]="loading">Submit</button>
    </form>
    
    <a routerLink="/login" class="link-secondary">Login</a>
</div>
