.row {
    justify-content: space-around;
}

.add-new-btn {
    background-image: linear-gradient(
      to right,
      var(--color3) 0%,
      var(--color5) 51%,
      var(--color3) 100%
    );
    max-width: 128px;
    margin-top: 1.5vw;
    padding: 0.5vw 2vw;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-width: 0;
    border-radius: 100px;
    border-color: #ffffff;
    display: block;
    font-weight: 800;
    font-size: 0.75rem;
    letter-spacing: 1px;
  }
  
  .add-new-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }