<img class="header-img" src="/assets/OakInsightsLogo.svg" />
<div class="icon-list">
  <img
    [src]="
      notification
        ? '/assets/icon-notification-active.svg'
        : '/assets/icon-notification.svg'
    "
    height="48px"
    style="cursor: pointer"
    routerLink="/alerts"
  />
  
  <div class="btn-group pointer" dropdown #dropdown="bs-dropdown" >
    <ngs-avater
    size="48px"
    isFixedColor="#FFFFFF"
    imageSize="48px"
    [photoUrl]="photo"
    (click)="dropdown.toggle(true)"
  ></ngs-avater>
    <ul
      id="dropdown-triggers-manual"
      *dropdownMenu
      class="dropdown-menu"
      role="menu"
      aria-labelledby="button-triggers-manual"
    >
      <li role="menuitem"><a class="dropdown-item" routerLink="/myprofile">My Profile</a></li>
      <li role="menuitem">
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </li>
      <!-- <li role="menuitem">
        <a class="dropdown-item" href="#">Something else here</a>
      </li>
      <li class="divider dropdown-divider"></li> -->
    </ul>
  </div>
</div>
