:host {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    height: 72px;
    padding: 0px 79px;
    justify-content: space-between;
    align-items: center;
}

ngs-avater {
    margin-left: 24px;
}

.header-img {
    margin-top: 24px;
    height: 48px;
}

.icon-list {
    margin-top:24px;
    display: flex;
    flex-direction: row;
}