:host {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding: 2rem 5rem;
    justify-content: space-between;
    align-items: center;
}

ngs-avater {
    margin-left: 24px;
}

.header-img {
    height: 2vw;
}

.icon-list {
    display: flex;
    flex-direction: row;
}