:host {
    padding: 0 !important;
    margin: 0 !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color:#444444;
    justify-content: space-between;
}
.dash {
    height: 100%;
    max-width: 100vw;
    padding: 2rem 5rem;
    padding-bottom: 0;

}