.nomargin {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

.color{
border: revert-layer !important; 
}

.img-res {
    max-width: 80%;
    height: auto;
  }

 
  .score {
    height: 99.2%;
    width: 99.2%;
    box-sizing: border-box !important;
    border-radius: 15px;
    box-shadow: 0 0 10px #c5baba;
  }
  
 
  .consumption-line {
    width: 100%;
  }
  
  .top-container {
    h2 {
      font-family: var(--fontRegular);
      margin: 1rem 0;
    }
  }
 
  .card-custom {
    border-radius: 1rem !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .oakscore {
    text-align: center;
  }
  .oak-score-badge {
    position: relative;
  }
  .oak-score {
    height: 100%;
  }
  .oak-score-label {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    font-weight: 800;
    font-family: var(--fontRegular);
    color: white;
  }
  
  .oak-score-text {
    margin: 0;
    position: absolute;
    top: 57%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: 800;
    font-family: var(--fontRegular);
    color: white;
  }
  
 
  
  .button {
    font-size: x-large;
    font-weight: bolder;
    position: absolute;
    top: 10px;
    right: 0;
  }
  
 .gap{
     margin-top: 1rem;
 } 

.font{
  font-size: 1vw;
  font-weight: 500;
  font-family: var(--fontRegular);
}

.cards-image{
max-width: 40%;
height: auto;
  }



.number{
    position: absolute;
    top: 50%;
    left: 24%;
    transform: translate(-50%,-50%);
    display: block;
    margin: 0;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    word-wrap: break-word;
}
.card-custom{
border-radius: 1rem !important;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 1.5rem;
margin-bottom: 1.5rem;
}


.colorblue{
  color: var(--color3);
}

.colorpink{
  color: var(--color2);
}

.md-3 {
  flex: 0 0 auto;
  width: 100%;
  @media only screen and (min-width: 500px) {
    flex-shrink: 0;
    width: 20%;
  }
}

.font2 , h4{
  font-size: 1.3vw;
 font-weight: 500;
 font-family: var(--fontRegular);

}
.trend-icon{
  width:13% !important;
  display: inline !important;
  vertical-align: sub !important;
  margin-left: 1rem;
}

.month{
  font-weight: 800;
  font-size: 1.2vw;
}

.trend-icon-with{
  width:58% !important;
  display: inline !important;
  vertical-align: sub !important;
  margin-left: 1rem;
}

.carsfx{
width: 50%; 
margin: 12px 0;
}

agm-map {
  height: 700px;
}

.selected {
  background-color: var(--color12);
}

.stylestext {
font-size: 1.75rem;
font-weight: 800;
text-align: center;
margin-top: 5rem;
color: var(--color5) ;
}