<div class="app-container">
  <div class="row">
    <div class="col-md-9 my-auto">
      <h2>Savings Calculator</h2>
    </div>
  </div>

  <div class="card card-custom">
    <div class="row">
      <div class="col-md-12">
        <div class="card-heading">Actual Consumption</div>
      </div>
      <div class="row">
        <div
          class="col-md-3 donut-legends"
          *ngFor="let donutLegend of donutLegends"
        >
          <div class="rectangle-position">
            <div
              class="rectangle"
              [style.backgroundColor]="donutLegend.color"
            ></div>
          </div>
          <div class="legend-text">{{ donutLegend.text }}</div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <app-donut-chart total="Total<br>2000" [data]="savingsResponseData.values_cost"></app-donut-chart>
        <div class="donut-text">Cost (£)</div>
      </div>
      <div class="col-md-4 text-center">
        <app-donut-chart total="Total<br>4000" [data]="savingsResponseData.values_consumption"></app-donut-chart>
        <div class="donut-text">Consumption (KwH)</div>
      </div>
      <div class="col-md-4 text-center">
        <app-donut-chart total="Total<br>6000" [data]="savingsResponseData.values_c02"></app-donut-chart>
        <div class="donut-text">Emission (kg-CO2)</div>
      </div>
    </div>
  </div>


  <div class="card card-custom">
    <div class="row">
      <div class="col-md-12">
        <div class="card-heading">Savings</div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="percent" [style.color]="donutLegends[0].color">Preparatory Hours</p>
          <div class="input-group mb-3">
            <input type="tel" maxlength="2" (keyup)="onUpdatePrep($event)">
          </div>
        </div>
        <div class="col-md-3">
          <p class="percent" [style.color]="donutLegends[1].color">Operational Hours</p>
          <div class="input-group mb-3">
            <input  type="tel" maxlength="2">
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <p class="percent" [style.color]="donutLegends[2].color">Non Operational Hours</p>
          <div class="input-group mb-3">
            <input  type="tel" maxlength="2">
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <p class="percent" [style.color]="donutLegends[3].color">Closed Hours</p>
          <div class="input-group mb-3">
            <input  type="tel" maxlength="2">
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="card card-custom">
    <div class="row">
      <div class="col-md-12">
        <div class="card-heading">Projected Consumption</div>
      </div>
      <div class="row">
        <div
          class="col-md-3 donut-legends"
          *ngFor="let donutLegend of donutLegends"
        >
          <div class="rectangle-position">
            <div
              class="rectangle"
              [style.backgroundColor]="donutLegend.color"
            ></div>
          </div>
          <div class="legend-text">{{ donutLegend.text }}</div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <app-donut-chart total="Total<br>2000*" [data]="savingsProjectedData.values_cost"></app-donut-chart>
        <div class="donut-text">Cost (£)</div>
      </div>
      <div class="col-md-4 text-center">
        <app-donut-chart total="Total<br>4000*" [data]="savingsProjectedData.values_consumption"></app-donut-chart>
        <div class="donut-text">Consumption (KwH)</div>
      </div>
      <div class="col-md-4 text-center">
        <app-donut-chart total="Total<br>6000*" [data]="savingsProjectedData.values_c02"></app-donut-chart>
        <div class="donut-text">Emission (kg-CO2)</div>
      </div>
    </div>
  </div>




</div>
