:host {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  padding: 0px 88px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-top: 32px;
}

a {
  font-size: 16px;
  font-weight: bolder;
}

div {
  margin-bottom: -8px;
  padding: 12px 9px;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
} :hover {
    background-color: #364096;
    color: white;
}

.selected {
  background-color: #364096;
  color: white;
}