:host {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  padding: 0px 88px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

a {
  font-size: 14px;
  font-weight: bolder;
} 

div {
  margin-bottom: -12px;
  padding: 8px 14px 16px 14px;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  color: var(--color3);
} :hover {
    background-color: #364096;
    color: white;
}

.selected {
  background-color: #364096;
  color: white;
}

@media only screen and (min-width: 1400px) {
  a {
    font-size: 16px;
  }
}