<div class=".weather-container row">
    <div class="col-lg-7">

        <div class="temperature">
            <label>25°C</label>
        </div>
        <div class="day">
            <label>Wednesday</label>
        </div>
        <div class="date">
            <label>25th June, 2021</label>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="weather-icon">
            <img class="card-img-left google-weather-image" [src]="imgPath"/>
        </div>
        <div class="weather-stats">
            <label>Precipitation: 16%</label>
            <label>Humidity: 78%</label>
            <label>Wind: 18km/h</label>
        </div>
    </div>
</div>
    