.weather-container {
    font-family: var(--fontRegular);
}
.weather-stats {
    font-size: 12px;
    color: gray;
}

.google-weather-image {
    
}

.temperature {
    font-size: 3rem;
}
.day .date{
font-size: 1rem;
font-weight: 800;
}

