.heatmap-legends {
    float: right;
  }
  .rectangle {
    width: 7rem;
    height: 1.5rem;
    display: inline-block;
    margin-left: 2rem;
  }
  .range-text {
    width: 5rem;
    height: 1.5rem;
    display: inline-block;
    margin-left: 2rem;
    text-align: center;
    font-weight: 800;
  }
  .heatmap-legend-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color11);
  }