.operating-hours-totals {
    margin-top: 2rem;
    text-align: center;
  }
  
  .total-text {
    font-size: 1rem;
    color: gray;
  }
  
  .total-value {
    font-size: 1.2rem;
    font-weight: 800;
  }