<div class="consumption-line" [chart]="chart"></div>
<div class="operating-hours-totals">
    <div class="row">
      <div
        class="col-md-3"
        *ngFor="let operatingHoursTotal of operatingHoursTotals"
      >
        <span class="total-text"
          >{{ operatingHoursTotal.type }}<br></span
        ><span
          class="total-value"
          [style.color]="operatingHoursTotal.color"
        >
          {{ operatingHoursTotal.value }}</span
        >
      </div>
    </div>
  </div>
