<div class="home-container">
  <div class="row nomargin top-container">
    <div class="row">
      <div class="col-lg-9">
          <h2>Insights at a Glance</h2>
      </div>
      <div class="col-lg-3">
        <mat-form-field appearance="fill" class="monthPicker">
          <mat-label>Select a month</mat-label>
          <mat-select [(value)]="month" (selectionChange)="updateMonth()">
            <mat-option *ngFor="let month of monthList" [value]="month">{{
              month
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-8 insights-container">
            <div class="insights-column" *ngFor="let card of cards">
              <app-insight-item-tile [data]="card"></app-insight-item-tile>
            </div>
          </div>
          <div class="col-lg-4 activity-gauge-container">
            <div class="card card-custom">
              <div class="card-heading">Consumption Overview</div>
              <app-activity-gauge [data]="consumptionData"></app-activity-gauge>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-custom">
              <div class="card-heading">Calendar Heat Map</div>
              <span class="widget-subtitle"
                >Compare areas of high consumption with respect to other
                day</span
              >
              <app-heatmap [data]="heatMapData"></app-heatmap>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card card-custom">
          <div class="oakscore">
            <div class="oak-score-badge">
              <img
                class="img-res"
                src="/assets/icons/icon-oakscore-green.svg"
              />
            </div>
            <div class="oak-score">
              <div class="oak-score-label">OAK Score</div>
              <div class="oak-score-text">
                {{ oakScore }}
              </div>
            </div>
          </div>
        </div>

        <div class="card card-custom">
          <div class="card-heading">Current Weather</div>
          <app-weather [data]="weatherData"></app-weather>
        </div>

        <div class="card card-custom">
          <div class="card-heading">List of Events</div>
          <span class="widget-subtitle">A list of non-trading days</span>
          <div class="events-list" *ngFor="let event of events">
            <b>{{ event.list | dateSuffix }}</b>
            <span>{{ event.name }}</span>
          </div>
          <div class="add-new-event">
            <button class="add-new-btn">Add an Event</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bottom-container">
    <div class="row">
      <div class="col-lg-8">
        <div class="card card-custom">
          <div class="card-heading">Operating Hours Analysis</div>
          <span class="widget-subtitle"
            >Comparison of energy consumption during Trading and Nontrading for
            each weekday</span
          >
          <app-stacked-bar-chart></app-stacked-bar-chart>
          <div class="operating-hours-totals">
            <div class="row">
              <div
                class="col-lg-4"
                *ngFor="let operatingHoursTotal of operatingHoursTotals"
              >
                <span class="total-text"
                  >{{ operatingHoursTotal.type }}&nbsp;</span
                ><span
                  class="total-value"
                  [style.color]="operatingHoursTotal.color"
                >
                  {{ operatingHoursTotal.value }}</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="card card-custom">
          <div class="row">
            <div class="col-lg-8">
              <div class="card-heading">Energy Cost throughout the day</div>
              <span class="widget-subtitle"
                >Mean energy consumption during the various time of the
                day</span
              >
            </div>
            <div class="col-lg-4">
              <div class="open-closed">
                <button class="open-days-button">Open Days</button>
                <button class="closed-days-button">Closed Days</button>
              </div>
            </div>
          </div>
          <app-chart></app-chart>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card card-custom">
          <div class="card-heading">Top Consuming Appliances</div>
          <span class="widget-subtitle"
            >A list of appliances in decreasing order of consumption</span
          >
          <app-appliance-consumption></app-appliance-consumption>
        </div>

        <div class="card card-custom">
          <div class="card-heading">News Updates</div>
          <div *ngFor="let news of newsData">
            <app-google-news [data]="news"></app-google-news>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
