:host {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    height: 72px;
    background-color: #7DC3BE;
    padding: 0px 16px;
    justify-content: space-between;
    align-items: center;
}