<owl-carousel-o [options]="customOptions">
  <ng-template
    carouselSlide
    *ngFor="let item of historicalConsumptionData; let i = index"
  >
    <div (click)="openMonthlyStats(item)">
      <div>{{ item.month }} {{ item.year }}</div>
      <div>Energy: {{ item.energy }}</div>
      <div>CO2 Emission: {{ item.co2_emission }}</div>
      <div>Target Trend: {{ item.target_trend }}</div>
      <div>Consumption Overview</div>
      <div>Target: {{ item.consumption_overview.target }}</div>
      <div>Present: {{ item.consumption_overview.present }}</div>
      <app-activity-gauge
        [data]="item.consumption_overview"
      ></app-activity-gauge>
    </div>
  </ng-template>
</owl-carousel-o>

<div *ngIf="showMonthlyStats">
  <button (click)="closeMonthlyStats()">Close</button>
  <div class="row">
    <div class="insights-container">
      <div class="insights-column" *ngFor="let card of cards">
        <app-insight-item-tile [data]="card"></app-insight-item-tile>
      </div>
    </div>

    <div class="oak-score">
      <div class="oak-score-label">OAK Score</div>
      <div class="oak-score-text">
        {{ oakScore }}
      </div>
    </div>
  </div>
  <app-line-column [data]="dayAnalysisData"></app-line-column>
</div>

<div class="row">
  <div class="card card-custom">
    <div class="yearly-usage mb-4">
      <div class="card-heading">Monthly Usage</div>
      <span class="widget-subtitle"
        >Comparison of month-on-month consumption</span
      >
    </div>
    <app-predictive-range-chart
      [data]="monthUsageData"
    ></app-predictive-range-chart>
  </div>
</div>
