<div>
    <app-header></app-header>
</div>
<div class="dash">
    <div class="landing-container">
        <div class="landing-content">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="greeting col-md-9">
                            Hello Rebecca
                        </div>
                        <div class="activity col-md-3">
                            Last Activity
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="insights">
                            Insights
                        </div>
                    </div>
                    <div class="row">
                        <div class="recommendations">
                            Recommnedations
                        </div>
                    </div>
                    <div class="row">
                        <div class="monthly-usage">
                            Monthly Usage
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="oak-score">
                            OAK Score
                        </div>
                    </div>
                    <div class="row">
                        <div class="consumption-overview">
                            Consumption Overview
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-consuming-appliances">
                            Top Consuming Appliances
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
