.score {
    height: 99.2%;
    width: 99.2%;
    box-sizing: border-box !important;
    border-radius: 15px;
    box-shadow: 0 0 10px #c5baba;
}

::ng-deep .mat-grid-tile-content {
    box-sizing: border-box !important;
}

.overview {
    height: 98%;
    width: 98%;
}

.card {
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 95%;
}

.tile {
width: 47%; 
border-color: var(--color1);
border-style: solid;
border-width: thin;
border-radius: 6px;
}

.image {
    position: absolute;
    width: 60%;
    margin: 2px 37px;
}

.login {
    width: 180px;
    border-radius: 25px;
    height: 44px;
    // margin: 24px 0;
    background-color: var(--color3);
  }
.oakscore{
    text-align: center;
}

.oak-score-label {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: var(--fontRegular);
    color: white;
}

.oak-score-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    font-weight: 800;
    font-family: var(--fontRegular);
    color: white;
}

.consumption-line{
    width: 100%;
}

.top-container {
    h1 {
        font-family: var(--fontRegular);
    }
}

.bottom-container {
    // background-color: lightgreen;
}