.score {
    height: 98%;
    width: 98%;
    box-sizing: border-box !important;
    border-radius: 15px;
    box-shadow: 0 0 10px #c5baba;
}

::ng-deep .mat-grid-tile-content {
    box-sizing: border-box !important;
}

.overview {
    height: 98%;
    width: 98%;
}

.card {
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
}

.tile {
width: 47%; 
border-color: coral;
border-style: solid;
border-width: thin;
border-radius: 6px;
}