:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
// .form {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
input {
      width: 400px;
      margin-bottom: 25px;
      height: 40px;
      border-radius: 5px;
      outline: 0;
      -moz-outline-style: none;
      border: 1px solid #bbb;
      padding: 0 0 0 10px;
      font-size: 14px;
      &:focus {
        border: 1px solid #3498db;
      }
    }
// }