.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url("../../../assets/oak-login-bg.svg") no-repeat fixed center;
}

input {
  width: 320px;
  margin-bottom: 24px;
  height: 40px;
  outline: 0;
  border: 3px solid var(--color1);
  padding: 0 0 0 10px;
  font-size: 14px;
}

.btn-login {
  width: 160px;
  border-radius: 25px;
  height: 40px;
  margin: 16px 0 32px 0;
  background-image: linear-gradient(to right, #364096 0%, #4164AD  51%, #364096  100%);
  text-transform: uppercase;
  color: white;
}

.password {
  font-weight: 300;
}

.oak-logo {
  margin-bottom: 44px; 
  width: 512px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
