:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

input {
  width: 400px;
  margin-bottom: 16px;
  height: 40px;
  outline: 0;
  border: 3px solid var(--color1);
  padding: 0 0 0 10px;
  font-size: 14px;
}

.login {
  width: 180px;
  border-radius: 25px;
  height: 44px;
  margin: 24px 0;
  background-color: var(--color3);
}

.password {
  font-weight: 300;
}
