
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$oak-insights-primary: mat.define-palette(mat.$indigo-palette);
$oak-insights-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$oak-insights-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$oak-insights-theme: mat.define-light-theme((
  color: (
    primary: $oak-insights-primary,
    accent: $oak-insights-accent,
    warn: $oak-insights-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($oak-insights-theme);

.background-theme {
    background-color: #e5f2fb;
}
// html, body { height: 100%; }
// * { margin: 0; font-family: Avenir, 'Roman', Bold; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Avenir-Roman'!important }

@font-face {
  font-family: Avenir-Black;
  src: url(assets/Font/Avenir/Avenir-Black.woff2) format("woff2");
}

@font-face {
  font-family: Avenir-Roman;
  src: url(assets/Font/Avenir/Avenir-Roman.woff2) format("woff2");
}

@font-face {
  font-family: Avenir-Light;
  src: url(assets/Font/Avenir/Avenir-Light.woff2) format("woff2");
}

:root {--color1: #465da4;
--color2: #F3837A;
--color3: #364096;
--color4: #F3A7AB;
--color5: #7DC3BE;
--color6: #F8A992;
--color7: #FCC294;
--color8: #4164AD;
--color9: #444444;
--color10: #6b6b6b;
--color11: #bababb;
--color12: #eeeeee;
--heatmap-color1: #63c5bf;
--heatmap-color2: #82c67c;
--heatmap-color3: #f2c853;
--heatmap-color4: #ecab5c;
--heatmap-color5: #ee6259;

--fontRegular: 'Avenir-Roman';
--fontBold: 'Avenir-Black';
--fontLight: 'Avenir-Light';

}

.highcharts-credits{
  visibility:hidden;
}

.app-container {
  margin-left: 2rem;
  margin-right: 1rem;

}
