<h1>Insights at a Glance</h1>
<mat-grid-list cols="4" rowHeight="96px">
  <mat-grid-tile colspan="3" rowspan="5" class= "background-theme"> Consumption Overview </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2.5" class= "background-theme"> OAK Score </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2.5" class= "background-theme"> Google Weather </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="5" class= "background-theme"> Calendar Heat Map </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="4" class= "background-theme"> List of Events </mat-grid-tile>
</mat-grid-list>

<h1></h1>

<mat-grid-list cols="5" rowHeight="96px">
  <mat-grid-tile colspan="3" rowspan="5" class= "background-theme"> Operating Hours Analysis </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="4" class= "background-theme"> Top Consuming Appliances </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="6" class= "background-theme"> Google News </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="5" class= "background-theme"> Energy Cost throughout the day </mat-grid-tile>
</mat-grid-list>