.card-heading {
    font: var(--fontBold);
    font-size: 1.5vw;
    font-weight: 800;
  }
  
  .widget-subtitle {
    font-size: 1vw;
    color: gray;
    margin-bottom: 2rem;
  }
  .text-right{
    text-align: right;
}

  